# Forex for Soul

ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=~/.config/solana/id.json
PROGRAM_ID=

HELIUS_API_KEY=
NEXT_PUBLIC_RPC_URL=https://devnet.helius-rpc.com/?api-key=YOUR_KEY
NEXT_PUBLIC_PROGRAM_ID=

CRANK_KEYPAIR_PATH=./crank-keypair.json
PRICE_UPDATE_INTERVAL_MS=2000
